{% extends 'layouts/base.html' %}


{% block content %}
<h1>About<h1>
   
    <p>Nostrud voluptate sit excepteur irure dolor veniam ad tempor ad officia reprehenderit fugiat dolore. Sit elit cupidatat amet veniam aliquip labore id aute veniam ex sint. Culpa non nisi id officia cupidatat labore ipsum ullamco amet enim. Cillum non mollit voluptate reprehenderit occaecat enim culpa ipsum officia ullamco Lorem esse aliqua. Minim in anim labore cillum ut aliquip. <p>

 
<p>Website created by {{username}}   
{% endblock  %}
     